body {
    background-color: #000; /* Устанавливает черный цвет фона для всего тела документа */
    color: #fff; /* Устанавливает белый цвет текста для всего тела документа */
    height: 100vh; /* Устанавливает высоту тела документа на 100% высоты видимой области окна браузера */
    overflow: hidden; /* Скрывает любые элементы, выходящие за пределы видимой области окна браузера */
}

pre {
    font-family: monospace; /* Устанавливает моноширинный шрифт для элемента pre, что делает текст выровненным по столбцам */
    font-size: 10px; /* Устанавливает размер шрифта для текста в элементе pre на 10 пикселей */
}

.donut-container {
    display: flex; /* Использует flexbox для расположения дочерних элементов внутри контейнера */
    align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
    justify-content: center; /* Выравнивает дочерние элементы по центру по горизонтали */
    height: 100%; /* Устанавливает высоту контейнера на 100% высоты родительского элемента (в данном случае body) */
}